<% content_for :left_content do %>

<h1>Characters#new</h1>
<p>Add a new character here!</p>

<%= form_for @char, url: { action: "create" } do |f| %>
    <%= f.text_field :name %>
    <%= f.text_field :location %>
    <%= f.text_field :occupation %>
    <%= f.submit "Create" %>
<% end %>


<!-- <form class="new_char" action="/characters" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <p>Name:<input type="text" name="character[name]" value=""></p>
    <p>Location: <input type="text" name="character[location]" value=""></p>
    <p>Occupation: <input type="text" name="character[occupation]" value=""></p>
    <button type="submit" name="submit">Submit</button>
</form> -->
<a href="/">Home</a>
<% end %>

<% content_for :right_content do %>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<% end %>
