
<h1>Hello user #<%= @user.id %></h1>
<p><%= @user.first_name %></p>
<p><%= @user.last_name %></p>
<p><%= @user.email %></p>
<p>Counter: <%= session[:counter] %></p>
<p># Users: <%= User.count %></p>


<a href="/users/new">New User</a> -->
